<% layout("/layouts/boilerplate") %>
<!-- <h3>All Listings</h3> -->

<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>

<div class="row">

<% for(let listing of allListings){ %>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">

        <!-- FULL CARD CLICKABLE -->
        <a href="/listings/<%= listing._id %>" class="listing-link">

            <div class="card listing-card h-100">

                <img 
                src="<%= listing.image && listing.image.url ? listing.image.url : listing.image %>" 
                class="card-img-top"
                alt="listing image"
                style="height: 20rem; object-fit: cover;"
                />
                <div class="card-img-overlay"></div>
                <div class="card-body">

                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>

                    <p class="card-text">
                        <b>₹ <span class="price-value" data-price="<%= listing.price || 0 %>"><%= (listing.price || 0).toLocaleString("en-IN") %></span></b> / night
                        <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                    </p>

                </div>

            </div>

        </a>

    </div>

<% } %>

</div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let prices = document.getElementsByClassName("price-value");
        let taxInfos = document.getElementsByClassName("tax-info");
        let isTaxed = taxSwitch.checked;
        
        // Loop through prices to calculate total
        for (let i = 0; i < prices.length; i++) {
            let priceSpan = prices[i];
            let taxInfo = taxInfos[i];
            let originalPrice = parseFloat(priceSpan.getAttribute("data-price"));
            
            if (isTaxed) {
                let taxedPrice = originalPrice + (originalPrice * 0.18);
                priceSpan.innerText = taxedPrice.toLocaleString("en-IN");
                taxInfo.style.display = "inline";
            } else {
                priceSpan.innerText = originalPrice.toLocaleString("en-IN");
                taxInfo.style.display = "none";
            }
        }
    });
</script>